﻿<!DOCTYPE html>
<html>
<head>
  <base href="/">
  <title>Catz Angular</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--<base href="http://ng2jq.syncfusion.com/">-->

  <link rel="stylesheet" href="node_modules/ng2f-bootstrap/dist/bootstrap.min.css">

  <link href="node_modules/syncfusion-javascript/Content/ej/web/bootstrap-theme/ej.web.all.min.css" rel="stylesheet" />

  <link rel="stylesheet" href="node_modules/toastr/build/toastr.min.css">
  <link rel="stylesheet" href="styles.css">
  <!-- Polyfill(s) for older browsers -->
  <script src="node_modules/core-js/client/shim.min.js"></script>
  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script src="node_modules/zone.js/dist/zone.js"></script>
  <script src="node_modules/reflect-metadata/Reflect.js"></script>
  <script src="node_modules/systemjs/dist/system.src.js"></script>

  <script src="node_modules/toastr/build/toastr.min.js"></script>
  <script src="node_modules/jsrender/jsrender.min.js"></script>
  <script src="node_modules/syncfusion-javascript/Scripts/ej/web/ej.web.all.min.js"></script>
  <script src="node_modules/tinymce/tinymce.min.js"></script>
  <script src="node_modules/lodash/lodash.min.js"></script>

  <script src="node_modules/signalr/jquery.signalR.js"></script>
  <script src="signalr/hubs"></script>

  <script src='http://requirejs.org/docs/release/2.2.0/minified/require.js'></script>
  <!--<script src="services"></script>-->

  <script src="systemjs.config.js"></script> <!-- ***1*** -->
  <script>
      System.import('app').catch((err)=>{console.error(err);}); /* ***2*** */
  </script>
</head>

<body class="container">
  <events-app></events-app>
</body>
</html>