<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" >Catz</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/catz']" routerLinkActive="active" >All Catz</a>
        </li>
        <li><a [routerLink]="['/events/testsignalr']" routerLinkActive="active">Signal R</a></li>
        <li><a [routerLink]="['/events/testtinymce']" routerLinkActive="active">Tiny MCE</a></li>
        <li><a [routerLink]="['/events/testgrid']" routerLinkActive="active">Test Grid</a></li>
      </ul>
    </div>
  </div>
</div>

<simple-modal closeOnBodyClick="false" elementId="searchResults" title="Matching Sessions">
  <div class="list-group">
    <!--<a class="list-group-item" *ngFor="let session of foundSessions" [routerLink]="['/events',session.eventId]">{{session.name}}</a>-->
    <a class="list-group-item" *ngFor="let session of foundSessions" [routerLink]="['/events',session.eventId]">{{session.name}}</a>
  </div>
</simple-modal>